<header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{{user.username}}</h1>
          <hr class="small">
          <span class="subheading">{{user.firstName}} {{user.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
  <div class="col-lg-1 col-lg-offset-2 col-md-10 col-md-offset-1">
      <img src="/profile_pics/{{profile.profileImage}}" class="img-rounded" alt="" style="width:200px">
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>Random Profile Info..

      {{userProfile.bio}}

      </p>
    </div>
  </div>
</div>
