<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <span class="subheading">{{profile.firstName}} {{profile.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container center-align">
  <div class="row valign-wrapper">
  <div class="col s4 m6 offset-m3">
    <div class="card hoverable">
      <div class="card-image">
        <img src="/profile_pics/{{profile.profileImage}}">
        {{!-- class="img-rounded" alt="" style="width:200px" --}}
        <span class="card-title">{{user.username}}</span>
      </div> 
      <div class="card-content black-text">
        {{#if developer}}
        <p>Biography: {{profile.bio}} </p>
        {{/if}}
        {{#if customer}}
        <p> Company Information: {{profile.companyInfo}}</p>
      </div>
      <div class="card-action">
        <p>Website: <a href="{{profile.companyWebsite}}">{{profile.companyWebsite}}</a></p>
        {{/if}}

        <p>Ratings: {{rating}} </p>
      </div>   
    </div>

{{!--     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      
      {{#if developer}}
      <p>Biography:
        {{profile.bio}}
      </p>
      {{/if}}
      {{#if customer}}
      <p>Website:
        <a href="{{profile.companyWebsite}}">{{profile.companyWebsite}}</a>
      </p>
      <p>Company:
        {{profile.companyInfo}}
      </p>
      {{/if}} --}}

      {{!-- <p>Rating:
        {{rating}}
      </p> --}}

      {{#if owner}}
        <div class="update-post">
          <a class="btn btn-default" href="/profile/edit">Update profile </a>
        </div>
      {{/if}}

    </div>
  </div>
</div>
