<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h4>{{user.username}}</h4>
          <span class="subheading">{{user.firstName}} {{user.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#if delete}}
        <div class="col s6 offset-s3">
          <br><br><br><br>
          <br><br><br><br>
          <form name="delete-user" action="/quit/delete/{{user.id}}">
            <div class="form-group col-xs-6 text-left">
              <button type="submit" class="btn  red accent-3">Delete Account</button>
            </div>
          </form>
          <br><br><br><br>
          <form name="delete-user" action="/quit/reject/{{user.id}}">
            <div class="form-group col-xs-6 text-left">
              <button type="submit" class="btn  red accent-3">Reject Delete Request</button>
            </div>
          </form>
        </div>
      {{else}}
      <form id="editUser" name="edit-user" method="POST" action="/tools/user/{{user.username}}?_method=PUT">
        
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls col s6 m6 offset-m3">
            <br>
            <input type="hidden" value="{{user.accountType}}" id="accountType"name="tempAccountType">
            <label>Account Type</label><br>
            <input class="form-control" name="accountType" type= "radio" id="Admin" value="Admin">
            <label for="Admin">Admin</label>
            <input class="form-control" name="accountType" type="radio" id="Customer" value="Customer">
            <label for="Customer">Customer</label>
            <input class="form-control" name="accountType" type="radio" id="Developer" value="Developer">
            <label for="Developer">Developer</label>
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls col s6 m6 offset-m3">
<br>
            <label>Account Status</label><br>
           {{!--  <input required data-validation-required-message="Please choose Account Status."> --}}
            <input type="hidden" value="{{user.accountStatus}}" id="accountStatus"name="tempAccountStatus">
            <input class="form-control" name="accountStatus" type="radio" id="Approved" value="Approved">
            <label for="Approved">Approved</label>
            <input class="form-control" name="accountStatus" type="radio" id="Pending" value="Pending">
            <label for="Pending">Pending</label>
            <input class="form-control" name="accountStatus" type="radio" id="Blocked" value="Blocked" required data-validation-required-message="Please enter a reason why.">
            <label for="Blocked">Blocked</label>
            <br><br><br>
            <div class="container" id="blockedReason" style="display:none;">
              <input id="blockedReasonInput" name="accountStatus" value="" placeholder="Please enter reason to reject/block user">
            </div>
            <p class="help-block text-danger"></p>
          </div>
         </div>
        <div class="row">

          <div class="form-group col s12 center-align">
              <button type="submit" class="btn brown lighten-1">Done</button>
          </div>
      </form>
      {{/if}}
    </div>
  </div>
</div>
</main>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  $('#editUser').change(function() {
    if ($('#Blocked').prop('checked')) {
        $('#blockedReason').show();
        $('#blockedReasonInput').show();
    } else {
        $('#blockedReason').hide();
        $('#blockedReasonInput').hide();

    }
  // var radiobtn = document.getElementById("theid");
  // radiobtn.checked = true;
});
  if($('#accountStatus').val() == "Approved")
      $("#Approved").attr("checked","true");
  else if($('#accountStatus').val() == "Pending")
      $("#Pending").attr("checked","true");
  else{
      $("#Blocked").attr("checked","true");
      $('#blockedReason').show();
      $('#blockedReasonInput').show();
      $('#blockedReasonInput').val($('#accountStatus').val());
    }


  if($('#accountType').val() == "Customer")
      $("#Customer").attr("checked","true");
  else if($('#accountType').val() == "Developer")
      $("#Developer").attr("checked","true");
  else
      $("#Admin").attr("checked","true");


</script>

