  
<header>
 <nav class="nav-extended">
    <div class="nav-wrapper ">
    </div>
    <div class="nav-content blue darken-2">
      <ul class="tabs tabs-transparent">
        <li class="tab">
          <a class="active" href="/#users">
            Users
            {{#if numOfPendingUsers}}
              <span class="new badge blue-grey lighten-2">{{numOfPendingUsers}}</span>
            {{/if}}
          </a>
        </li>
        <li class="tab"><a  href="/#workOrders">
          Work Orders
          {{#if numOfAttentionWorkOrders}}
              <span class="new badge blue-grey lighten-2">{{numOfAttentionWorkOrders}}</span>
            {{/if}}
          </a>
        </li>
        <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
  </nav>


</header>


  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
<div  id="users">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          
          <h3 >Users</h3>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
  <div class="container" >
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <div class="input-field">
          <input id="myInput1" onkeyup="myFunction1()" type="search" placeholder="Search for users..">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
        
        <ul id="myUL1" class="collection">
        {{#each allPendingUsers}}
          <li>
            <a class="collection-item" href="/tools/user/{{this.username}}">
                <h7 class="col s4">{{this.username}}</h7>
                <h7 class="col s4" style="color:black;">{{this.accountType}}</h7>
                <span class="new badge deep-orange lighten-1" data-badge-caption="&nbsp;Pending &nbsp"></span>
                <span class="new badge black" data-badge-caption="&nbsp;${{this.wallet.amountDeposited}} &nbsp"></span>
            </a>
          </li>
        {{/each}}
        {{#each allApprovedUsers}}
          <li>
            <a class="collection-item" href="/tools/user/{{this.username}}">
                <h7 class="col s4">{{this.username}}</h7>
                <h7 class="col s4" style="color:black;">{{this.accountType}}</h7>
                 <span class="new badge green" data-badge-caption="Approved"></span>
               </a>
          </li>
        {{/each}}
        {{#each allBlockedUsers}}
          <li>
            <a class="collection-item" href="/tools/user/{{this.username}}">
                <h7 class="col s4">{{this.username}}</h7>
                <h7 class="col s4" style="color:black;">{{this.accountType}}</h7>
                 <span class="new badge red accent-4" data-badge-caption="&nbsp;Blocked  &nbsp"></span>
            </a>
          </li>
        {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>

<div  id="workOrders">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h3 >Work Orders</h3>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
  <div class="container" >
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <div class="input-field">
          <input id="myInput2" onkeyup="myFunction2()" type="search" placeholder="Search for work orders..">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
        
        <ul id="myUL2" class="collection">
        {{#each badReviewdWorkOrder}}
          <li>
            <a href="/tools/workOrder/{{this.id}}">
                <h7 class="col s4">{{this.post.title}}</h7>
                <span class="new badge red accent-4" data-badge-caption="&nbsp&nbsp&nbsp&nbsp;Attention Needed &nbsp&nbsp&nbsp"></span>
                <span class="new badge black" data-badge-caption="&nbsp;${{this.price}} &nbsp"></span>
            </a>
          </li>
        {{/each}}
        
        
        {{#each ProjectCompleteWorkOrder}}
          <li>
            <a href="/tools/workOrder/{{this.id}}">
                <h7 class="col s4">{{this.post.title}}</h7>
                <span class="new badge green lighten-1" data-badge-caption="&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;Work Submited &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"></span>
                <span class="new badge deep-orange lighten-1" data-badge-caption="&nbsp;Customer Review Pending &nbsp"></span>
            </a>
          </li>
        {{/each}}

        {{#each ProjectNotCompleteWorkOrder}}
          <li>
            <a href="/tools/workOrder/{{this.id}}">
                <h7 class="col s4">{{this.post.title}}</h7>
                <span class="new badge deep-orange lighten-1" data-badge-caption="&nbsp;Work Order Created &nbsp"></span>
            </a>
          </li>
        {{/each}}

        {{#each closedWorkOrder}}
          <li>
            <a href="/tools/workOrder/{{this.id}}">
                <h7 class="col s4">{{this.post.title}}</h7>
                <span class="new badge blue-grey lighten-2" data-badge-caption="&nbsp;Closed &nbsp"></span>
            </a>
          </li>
        {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>


<script>
function myFunction1() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput1");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL1");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}

function myFunction2() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL2");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>