<!DOCTYPE html>
<html>
<head>
  <title>weDev</title>
  <meta charset="utf-8" lang="en">
</head>
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!--set Browser favicon-->
      <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/e/ed/Nyan_cat_250px_frame.PNG"></link>

      <!--Chart.js CDN-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

{{!--         <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> --}}
        <link href="/css/clean-blog.min.css" rel="stylesheet">
        <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<body>
      <ul id="dropdown1" class="dropdown-content">
      <li><a href="/profile"><i class="material-icons">face</i>Profile</a></li>
      <li><a href="#!"><i class="material-icons">work</i>My Bids</a></li>
      <li><a href="#!"><i class="material-icons">mail_outline</i>Messages</a></li>
      <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
      <li class="divider"></li>
      <li id="logout"><a href="#"><i class="material-icons">exit_to_app</i>Sign Out</a></li>
    </ul>
  <nav class="nav-extended target">
      <div class="nav-wrapper blue darken-3">
        <a href="/" class="brand-logo"><i id="header-logo" class="material-icons">data_usage</i>weDev</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/#about-section">About</a></li>

          {{#if admin}}
          <li>  <a href="/users">Users
                  {{#if numOfPendingUsers}}
                    <span class="new badge blue-grey lighten-2">{{numOfPendingUsers}}</span>
                  {{/if}}
                </a></li>
          {{/if}}
          <li><a href="/posts">Browse</a></li>
          {{#if cur_user}}
            
            <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-alignment="right" data-constrainwidth="false" data-activates="dropdown1">{{cur_user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
          {{else}}  
            <li><a href="/sign-up">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
          {{/if}}

        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/#about-section">About</a></li>
          {{#if cur_user}}
            <li id="profile"><a href="/profile">Profile</a></li>
            <li id="logout"><a href="#">Sign out</a></li>
          {{else}}  
          <li><a href="/sign-up">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
  </nav>

  {{{ body }}}

  <header></header>
  <main></main>


        <footer class="page-footer blue darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">weDev</h5>
                <p class="grey-text text-lighten-4">Achieve success with us.</p>
              </div>
              <div class="col l6 s12">
                <h5 class="white-text">Have any questions?</h5>
                <ul>
                  <li><a class="grey-text text-lighten-4" href="#!">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright blue darken-3">
            <div class="container">
            © 2017 Stark Labs
            </div>
          </div>
        </footer>
{{!--   // <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  // <script src="/js/jqBootstrapValidation.js"></script>
  // <script src="/js/contact_me.js"></script>
  // <script src="/js/clean-blog.min.js"></script> --}}
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!--jQuery easing plugin-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


      <script type="text/javascript">
        $(document).ready(function(){
          $('.target').pushpin();
        });
      </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>

  {{#if cur_user}}
  <script>
    ;(function() {
      $('#logout').click(function() {
        $.post("/logout", function() {
          window.location.href = '/';
        });
      });
    })();
  </script>
  {{/if}}


</body>

</html>
