<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h4>{{post.title}}</h4>
          <hr class="small">
          <span class="subheading">By: {{user.username}}</span>
        </div>
      </div>
    </div>
          {{#if noCash}}
            <div id="card-alert" class="card red lighten-5">
              <div class="card-content red-text">
                <i class="mdi-alert-error"></i>
                <p><center>{{noCash}}</center></p>
              </div>
            </div>
        </div>
      {{/if}} 
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="card-panel brown lighten-4">
        <p class="flow-text">Current Bid: {{currentBid}} </span></p>
        <p class="flow-text"> Time left to bid:
        <span id="countDown"> ></span></p>
        <p class="flow-text">{{post.body}}</p>
      </div>
      {{#if isCheapestBid}}
        <form name="create-workOrder" action="/posts/{{user.username}}/{{post.slug}}/selectWinner/{{winningUser.username}}" method="post">
          
          <input type="hidden" name="comment" value="It is the cheapest bid">
          <input type="hidden" name="confirmed" value="true">
          <input type="hidden" name="userId" value="{{winningUser.id}}">
          <input type="hidden" name="postId" value="{{post.id}}">
          
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-default brown lighten-1">Confirm</button>
            </div>
          </div>
        </form>
      {{else}}
        <form name="create-workOrder" action="/posts/{{user.username}}/{{post.slug}}/selectWinner/{{winningUser.username}}" method="post">
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Please add a Comment</label>
              <input type="text" class="form-control" placeholder="Why wasn't the lowest Bid Choosen?" name="comment" required>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          
          <input type="hidden" name="confirmed" value="false">
          <input type="hidden" name="userId" value="{{winningUser.id}}">
          <input type="hidden" name="postId" value="{{post.id}}">
          
          <br>
          <div class="row">

            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-default brown lighten-1">Confirm</button>
            </div>
            {{#if noCash}}
            <br><br><br>
            <div class="col s3 ">
              <div class="create-post">
                <a class="btn brown lighten-1" href="/deposit/add">Deposit more money </a>
              </div>
            </div>
            {{/if}}
          </div>

        </form>
      {{/if}}
    </div> 
  </div>
</div>

<script>
    

  var countDownDate = new Date("{{post.bidingDeadline}}").getTime();
  var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("countDown").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("countDown").innerHTML = "EXPIRED";
        document.getElementById("btn").href="/posts/{{user.username}}/{{post.slug}}/reviewWinner";
        document.getElementById("btn").innerHTML = "Choose Winner";
    }
  }, 50);
</script>