<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h4>{{post.title}}</h4>
          <hr class="small">
          <p class="subheading">Post By: {{customer.username}}&nbsp;&nbsp;&nbsp; Rating: {{customer.profile.rating}}</p>
          <p class="subheading">Job By: {{developer.username}}&nbsp;&nbsp;&nbsp; Rating: {{developer.profile.rating}}</p>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
<div class="container">
  <div class="row">
    <div class="col s7 m6 offset-m4">

      <div class="row valign">
        <div class="col s12 m8">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title center-align">Information</span>
              <p><b>Description:</b> {{post.body}}</p>
              {{#if needsApproval}}
              <p><b>Customer's Comment:</b> {{workOrder.comment}}</p>
              {{else}}
              <p><b>Customer's Comment:</b> {{review.comment}}</p>
              <p><b>Rating given by Customer:</b> {{review.rating}}</p>
              {{/if}}
              <p><b>Job total price:</b> ${{workOrder.price}}</p>
              {{#if workOrder.closed}}
                <p><b>Amount due to Developer:</b> $0</p>
              {{else}}
                {{#if needsApproval}}
                {{else}}
                <p><b>Amount due to Developer:</b> ${{half}}</p>
                {{/if}}
              {{/if}}
              <br>
              <br>
            </div>
            <div class="card-action">
              {{#if needsApproval}}
                <form name="edit-user" method="POST" action="/tools/workOrder/{{workOrder.id}}/confirm?_method=PUT">
                  <label>Approve Work Order:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  <input class="form-control" onclick ="myFunction()" name="approved" type= "radio" id="Yes" value="true">
                  <label for="Yes">Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  <input class="form-control" onclick ="myFunction()" name="approved" type="radio" id="No" value="false" required>
                  <label for="No">No</label>
                  <input type="hidden" name="workOrderId" value="{{workOrder.id}}">
                  <input type="hidden" name="devId" value="{{developer.id}}">
                  <input type="hidden" name="cusId" value="{{customer.id}}">
                  <br><br><br>
                  <div class="container" id="reason" style="display:none;">
                    <input id="reason" name="reason" placeholder="Please enter reason">
                  </div>
                            <div class="form-group col-xs-6 center-align">
            <button type="submit" class="btn brown lighten-1">Submit</button>
          </div>
                </form>
              {{else}}
                <form name="edit-user" id="editUser" method="POST" action="/tools/workOrder/{{workOrder.id}}?_method=PUT">
                  <label>Amount that will be paid</label>
                  <input id="dis" type="number" class="form-control" {{disabled}} name="payment" value="{{half}}" max ="{{half}}" required data-validation-required-message="Please enter value.">
                  <input type="hidden" name="workOrderId" value="{{workOrder.id}}">
                  <input type="hidden" name="devId" value="{{developer.id}}">
                  <input type="hidden" name="cusId" value="{{customer.id}}">
                  <p class="help-block text-danger"></p>
                            <div class="form-group col-xs-6 center-align">
            <button type="submit" {{disabled}} class="btn brown lighten-1">Submit</button>
          </div>
                </form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </main>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>

  function myFunction(){
    var no = document.getElementById( "No" ).checked;
    if(no){
      $('#reason').show();
      $("#reason").attr("required","true");
    }
    else
      $('#reason').hide();
      $("#reason").removeAttr("required");
  }
</script>