<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h4>{{post.title}}</h4>
          <hr class="small">
          <p class="subheading">Post By: {{customer.username}}&nbsp;&nbsp;&nbsp; Rating: {{customer.profile.rating}}</p>
          <p class="subheading">Job By: {{developer.username}}&nbsp;&nbsp;&nbsp; Rating: {{developer.profile.rating}}</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      
      
      <h5>Discription: {{post.body}}</h5>
      <h5>Customer's Comment: {{review.comment}}</h5>
      <h5>Rating given by Customer: {{review.rating}}</h5>
      <br>

      <h5>Job total price: ${{workOrder.price}}</h5>
      {{#if workOrder.closed}}
        <h5>Amount due to Developer: $0</h5>
      {{else}}
        <h5>Amount due to Developer: ${{half}}</h5>
      {{/if}}
      <br>
      <br>
      <div class="container">
      <form name="edit-user" method="POST" action="/tools/workOrder/{{workOrder.id}}?_method=PUT">
        
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Ammount that will be paid</label>
            <input type="number" class="form-control" disabled="{{workOrder.closed}}" name="payment" value="{{half}}" max ="{{half}}" required data-validation-required-message="Please enter value.">
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="form-group col-xs-6 text-right">
              <button type="submit" disabled="{{workOrder.closed}}"  class="btn btn-default">Submit</button>
          </div>
      </form>
    </div>
</div>
    </div> 
  </div>
</div>

