<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h4>{{post.title}}</h4>
          <hr class="small">
          <p class="subheading">Post By: {{customer.username}}&nbsp;&nbsp;&nbsp; Rating: {{customer.profile.rating}}</p>
          <p class="subheading">Job By: {{developer.username}}&nbsp;&nbsp;&nbsp; Rating: {{developer.profile.rating}}</p>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
<div class="container">
  <div class="row">
    <div class="col s7 m6 offset-m4">

      <div class="row valign">
        <div class="col s12 m8">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title center-align">Information</span>
              <p><b>Description:</b> {{post.body}}</p>
              <p><b>Customer's Comment:</b> {{review.comment}}</p>
              <p><b>Rating given by Customer:</b> {{review.rating}}</p>
              <p><b>Job total price:</b> ${{workOrder.price}}</p>
      {{#if workOrder.closed}}
        <p><b>Amount due to Developer:</b> $0</p>
      {{else}}
        <p><b>Amount due to Developer:</b> ${{half}}</p>
      {{/if}}
      <br>
      <br>
            </div>
            <div class="card-action">
              <form name="edit-user" method="POST" action="/tools/workOrder/{{workOrder.id}}?_method=PUT">
                  <label>Amount that will be paid</label>
                <input id="dis" type="number" class="form-control" {{disabled}} name="payment" value="{{half}}" max ="{{half}}" required data-validation-required-message="Please enter value.">
                <p class="help-block text-danger"></p>
                </div>
                  {{!-- <button id="dis"type="submit" {{disabled}}  class="btn btn-default">Submit</button> --}}
              </form>
        </div>
      </div>
      
      
      {{!-- <h6>Description: {{post.body}}</h6>
      <br>
      <h6>Customer's Comment: {{review.comment}}</h6>
      <h6>Rating given by Customer: {{review.rating}}</h6>
      <br>

      <h6>Job total price: ${{workOrder.price}}</h6>
      {{#if workOrder.closed}}
        <h6>Amount due to Developer: $0</h6>
      {{else}}
        <h5>Amount due to Developer: ${{half}}</h5>
      {{/if}}
      <br>
      <br>
      <div class="container">
      <form name="edit-user" method="POST" action="/tools/workOrder/{{workOrder.id}}?_method=PUT">
        
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Amount that will be paid</label>
            <input id="dis" type="number" class="form-control" {{disabled}} name="payment" value="{{half}}" max ="{{half}}" required data-validation-required-message="Please enter value.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-xs-6 text-right">
              <button id="dis"type="submit" {{disabled}}  class="btn btn-default">Submit</button>
          </div>
      </form>
    </div>
</div>
    </div> 
  </div> --}}
</div>

</main>

<script>
</script>