<div id="home-section" class="col s12 center-align"></br></br><i class="material-icons large">data_usage</i>
 <p>This is WeDev. </br></br>weDev is where clients and developers come to connect.
 </br>weDev an internet marketplace comes to make system solutions better and efficient.
 </br>Join millions of business clients and software developers now.</br></p>
</div>

  {{#if cur_user}}
  {{else}}
    <!--modal button-->
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center-align">
      <button class="btn red darken-3 waves-effect waves-light modal-trigger" data-target="modal1">Get Started</button>
    </div>
  </div>
</div>

  {{/if}}

<!--Modal popup-->
<div class="modal modal-fixed-footer" id="modal1">
  <div class="modal-content">
    <h4>Sign Up</h4>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form id="signUp" name="sign-up" action="/sign-up" method="post" class="col s12">
          <ul class="stepper vertical">
            <li class="step active">
              <div class="step-title waves-effect">Username</div>
              <div class="step-content">
                <div class="row">
                  <div style="text-align:center"> 
                    <div class ="popup" style=" bottom: 100%;">
                      <span class="popuptext" id="myPopupUsername">Username Taken</span>
                    </div>
                  </div>
                  <div class="input-field col s12 ">
                    <input id="username" name="username" onkeyup="checkUsername()" data-error="taken" type="text" class="validate" autofocus required/>
                    <label for="username">Username</label>
                  </div>
                </div>
                <div class="row">        
                  <p class="center-align">
                    <input name="accountType" checked type="radio" id="Customer" value="Customer" class="required"/>
                    <label for="Customer">Customer</label>
                    <input name="accountType" type="radio" id="Developer" value="Developer"/>
                    <label for="Developer">Developer</label>
                  </p>
                </div>
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn next-step " >CONTINUE</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect">Password</div>
              <div class="step-content">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required/>
                    <label for="password">Your password</label>
                  </div>
                </div>
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect">E-mail</div>
              <div class="step-content">
                <div class="row">
                  <div style="text-align:center" > 
                    <div class ="popup" >
                      <span class="popuptext" id="myPopupEmail">Email Taken</span>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <input id="email" name="email" onkeyup="checkEmail()" type="email" class="validate" required />
                    <label for="email">Your E-mail</label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>


    <div class="modal-footer">
      <button  type="submit" form="signUp" class="btn btn-flat modal-action modal-close">Register</button>
    </div>
</div>


<div class ="center-align">
  <h5>Browse<i class="material-icons">whatshot</i></h5>
<div class="container">
  <form id="searchForm" name="searchForm" action="/posts/search" method="post">
    <div class="input-field">
      <input id="search" type="search" name="search" class="commentarea" >
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>
  </div>
            
  <div class="topUsers container">
      <h5>TOP DEVELOPERS<i class="material-icons">verified_user</i>:</h5>
      <div class="row">
        {{#each topDevelopers}}
          <div class="col s4">
            <a href="/profile/show/{{this.username}}">
              <p><font color="black">{{this.username}}</p></font>
              <img src="/profile_pics/{{this.profile.profileImage}}" class="circle responsive-img z-depth-5 hoverable" alt="" style="width:100px">
              <p><font color="black">{{this.profile.firstName}}</font></p>
            </a>
          </div>
        {{/each}}
      </div>

      <h5>TOP CLIENTS<i class="material-icons">wc</i>:</h5>
      <div class="row">
         {{#each topCustomers}}
          <div class="col s4">
            <a href="/profile/show/{{this.username}}">
              <p><font color="black">{{this.username}}</p></font>
              <img src="/profile_pics/{{this.profile.profileImage}}" class="circle responsive-img z-depth-5 hoverable" alt="" style="width:100px">
              <p><font color="black">{{this.profile.firstName}}</font></p>
            </a>
          </div>
        {{/each}}
        </div>
    </div>
  </div>
<div>

    <div id="about-section" class="col s6"><h4>About</h4><p><strong>As a developer,</strong> you can browse through listings posted by renowned business clients to build and implement required systems on a bidding timeline, earn quick money freelancing, right at the comfort of your own home. Payments are safe, secure and guaranteed automatic once files have been submitted.

    </br></br><strong>As a client,</strong> connect and collaborate with the most professional software developers and figure out which one is right for your system demands. You can create posts in our system to receive major exposure to your work. Have your work done for you.

  </br></br><strong>Not sure yet?</strong> As a <strong>visitor,</strong> you can use a temporary username and password to browse through system demands, developer profiles, as well as business client profiles.
  </p>
  <h4>Our Success.</h4>

  <canvas id="myChart" width="100" height="50"></canvas>
<script>


var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Total Users", "Renowned Clients", "Professional Developers", "Projects", "Top Earning Developer"],
        datasets: [{
            label: 'weDev',
            data: [{{totalUsers}}, {{renownedCustomers}}, {{professionalDevelopers}}, {{numOfProjects}}, 10],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    },

    animation: {
      duration: 6000,
      easing: 'easeInOutBounce'
    }
});

  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });

  var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirmPassword').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
};

$(document).ready(function() {
    $('.commentarea').keydown(function(event) {
        if (event.keyCode == 13) {

            var searching = document.getElementsByTagName("search").value;
            console.log(searching);
            document.getElementById("searchForm").setAttribute("action", "/posts/search/"+searching);
            //document.getElementById("searchForm").submit();
            return false;
         }
    });
});

</script>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">

function checkEmail(){
  var email=document.getElementById( "email" ).value;
  if(email){
    $.ajax({
      url: '/check/email/'+email,
      success: function (response) {
        if (response == "taken"){
          var popup = document.getElementById("myPopupEmail");
          popup.classList.remove("show","hide");
          popup.classList.add("show");
        }
        else{
          var popup = document.getElementById("myPopupEmail");
          popup.classList.remove("show","hide");
          popup.classList.add("hide");
        }
      }
    });
  }
}
function checkUsername(){
  var username=document.getElementById( "username" ).value;
  if(username){
    $.ajax({
      url: '/check/username/'+username,
      success: function (response) {
        if (response == "taken"){
          var popup = document.getElementById("myPopupUsername");
          popup.classList.remove("show","hide");
          popup.classList.add("show");
        }
        else{
          var popup = document.getElementById("myPopupUsername");
          popup.classList.remove("show","hide");
          popup.classList.add("hide");
        }
      }
    });
  }
}


</script>

  </div>

