<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h3>Users</h3>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#each allUsers}}
        <div class="post-preview col-xs-12">
          <a href="/users/{{this.username}}">
            <h2 class="post-title">
              <div class="col-xs-4">
                <h4>{{this.username}}</h4>
              </div>
            </h2>
          </a>
            <p1 class="col-xs-5">{{this.accountType}}</p1>
          
          <p class="post-meta col-xs-5">{{this.firstName}} {{this.lastName}}</p>
          {{#if this.approved}}
            <span><h4 style="color:green;">Approved<h4></span>
          {{ else }}
            <span><h4 style="color:#8B0000;">Pending<h4></span>
          {{/if}}
        </div>
        <br>
        
      {{/each}}
      <ul class="pager">
        <li class="next">
            <a href="#">Next &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
