<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h4>{{post.title}}</h4>
          <hr class="small">
          <span class="subheading">By: {{user.username}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>Current Bid: {{currentBid}} by {{currentBid.developer}}</p>
      <p class="col-xs-3">Time left to bid:</p>
      <span id="countDown" class="col-xs-9" ></span>
      <p>System Description: {{post.body}}</p>
      <br>  
      {{#if closed}}
        {{#if complete}}
          <h5 class="center-align">The project has been completed</h5>
        {{else}}
          <h5 class="center-align">The project has been closed</h5>
        {{/if}}
        {{#if winningDev}}
          {{#if DeveloperMadeReview}}
          {{else}}
            <div class="create-post">
              <a class="btn btn-default" href="/posts/{{user.username}}/{{post.slug}}/reviewCustomer/{{winnersName}}/review">Review Customer </a>
            </div>
          {{/if}}
        {{/if}}
      {{else}}
        {{#if owner}}
          {{#if expired}}
            {{#if CustomerReviewPending}}
              {{#if CustomerMadeReview}}
                <h5 class="center-align">Please wait for the Admin to review the project</h5>
              {{else}}
                <div class="review-developer">
                  <a class="btn btn-default" href="/posts/{{user.username}}/{{post.slug}}/reviewWinner/{{winnersName}}/review">Review Developer </a>
                </div>
              {{/if}}
            {{else}}
              {{#if workOrderCreated}}
                <h5 class="center-align">Please wait for the Developer to finish the project</h5>
              {{else}}
                <div class="choose-winner">
                  <a id="btnOwner" class="btn btn-default" href="/posts/{{user.username}}/{{post.slug}}/reviewWinner"> Choose Winner </a>
                </div>
              {{/if}}
            {{/if}}
          {{else}}
            <div class="update-post">
              <a id="btnOwner" class="btn btn-default" href="/posts/{{user.username}}/{{post.slug}}/edit">Update post </a>
            </div>
          {{/if}}
        {{else}}
        {{#if developer}}
        {{#if expired}}
          {{#if winningDev}}
            {{#if complete}}
              <h5 class="center-align">Customer has to finish reviewing the project</h5>
              {{#if DeveloperMadeReview}}
              {{else}}
                <div class="create-post">
                  <a class="btn btn-default" href="/posts/{{user.username}}/{{post.slug}}/reviewCustomer/{{user.username}}/review">Review Customer </a>
                </div>
              {{/if}}
            {{else}}
              <div class="create-post">
                <a class="btn btn-default" href="/posts/{{user.username}}/{{post.slug}}/reviewCustomer/{{user.username}}/review">Upload project files </a>
              </div>
            {{/if}}
          {{/if}}
        {{else}}
          <div class="create-post">
            <a class="btn btn-default" href="/posts/{{user.username}}/{{post.slug}}/new-bid">Create a bid </a>
          </div>
        {{/if}}
      {{/if}}
        {{/if}}
      {{/if}}
    </div> 
  </div>
</div>

<script>
    

  var countDownDate = new Date("{{post.bidingDeadline}}").getTime();
  var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("countDown").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("countDown").innerHTML = "EXPIRED";
    }
  }, 50);
</script>