<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h4>{{post.title}}</h4>
          <hr class="small">
          <span class="subheading">By: {{user.username}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="card-panel brown lighten-4">
      <p class="flow-text">Current Bid: {{currentBid}} </span></p>
      <p class="flow-text"> Time left to bid:
      <span id="countDown"> ></span></p>
      <p class="flow-text">{{post.body}}</p>
    </div>
      <br>  
      {{#if closed}}
        {{#if complete}}
          <h5 class="center-align">The project has been completed</h5>
        {{else}}
          <h5 class="center-align">The project has been closed</h5>
        {{/if}}
        {{#if winningDev}}
          {{#if DeveloperMadeReview}}
          {{else}}
            <div class="create-post">

              <a class="btn brown lighten-1" href="/review/{{user.username}}/{{post.slug}}/createReviewCustomer/{{winnersName}}">Review Customer </a>

            </div>
          {{/if}}
        {{/if}}
      {{else}}
        {{#if owner}}
          {{#if expired}}
            {{#if CustomerReviewPending}}
              {{#if CustomerMadeReview}}
                <h5 class="center-align">Please wait for the Admin to review the project</h5>
              {{else}}
                <div class="review-developer">

                  <a class="btn brown lighten-1" href="/review/{{user.username}}/{{post.slug}}/createReviewWinner/{{winnersName}}">Review Developer </a>

                </div>
              {{/if}}
            {{else}}
              {{#if workOrderCreated}}
                <h5 class="center-align">Please wait for the Developer to finish the project</h5>
              {{else}}
                <div class="choose-winner">

                  <a id="btnOwner" class="btn brown lighten-1" href="/posts/{{user.username}}/{{post.slug}}/reviewWinner"> Choose Winner </a>

                </div>
              {{/if}}
            {{/if}}
          {{else}}
            <div class="update-post">

              <a id="btnOwner" class="btn brown lighten-1" href="/posts/{{user.username}}/{{post.slug}}/edit">Update post </a>

            </div>
          {{/if}}
        {{else}}
        {{#if developer}}
        {{#if expired}}
          {{#if winningDev}}
            {{#if complete}}
              <h5 class="center-align">Customer has to finish reviewing the project</h5>
              {{#if DeveloperMadeReview}}
              {{else}}
                <div class="create-post">

                  <a class="btn brown lighten-1" href="/review/{{user.username}}/{{post.slug}}/createReviewCustomer/{{user.username}}">Review Customer </a>

                </div>
              {{/if}}
            {{else}}

                <br><br>

                <br><br>



              <form name="edit-post" method="POST" action="/posts/{{user.username}}/{{post.slug}}/completeProject/{{winnersName}}?_method=PUT">
                <div class="row control-group">
                  <div class="col s6 offset-s3">
                    <label>GitHub Link</label>
                    <input type="text" class="form-control" style="text-align:center;" placeholder="http://GitHub.com" value="{{gitHub}}" name="gitHub" required >
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <div class="row control-group">
                  <div class="col s6 offset-s3">
                    <p>
                      <center>
                      <input type="checkbox" class="filled-in" id="filled-in-box" name="complete"checked="checked" />
                      <label for="filled-in-box">Project Complete</label>
                      </center>
                    </p>
                  </div>
                </div>
                <br><br>

            <div class="form-group col s6 offset-s3">

              <button type="submit" class="btn brown lighten-1">Submit</button>

          </div>
          <br>
      </form>




            {{/if}}
          {{/if}}
        {{else}}
        <div class="col s6">
          <div class="create-post">

            <a class="btn brown lighten-1" href="/posts/{{user.username}}/{{post.slug}}/new-bid">Create a bid </a>

          </div>
        </div>

        <div class="col s6">
          <div class="create-post">

            <a class="btn brown lighten-1" href="/deposit/add">Deposit more money </a>

          </div>
        </div>
        {{/if}}
      {{/if}}
        {{/if}}
      {{/if}}
    </div> 
  </div>
</div>

<script>
    

  var countDownDate = new Date("{{post.bidingDeadline}}").getTime();
  var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("countDown").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("countDown").innerHTML = "EXPIRED";
    }
  }, 50);
</script>