<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h4>Browse Posts</h4>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="input-field">
          <input id="myInputPosts" onkeyup="myFunctionPosts()" type="search" placeholder="Browse" value="{{search}}">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
        
        {{#if customer}}
          <div class="create-post">
            <a href="/posts/new-post" class="btn-floating waves-effect red btn"><i class="material-icons">add</i></a>
          </div>
        {{/if}}

        <ul id="myULPosts" >
          {{#each allPosts}}
            <li class="collection">
              <a class="collection-item" href="/posts/{{this.user.username}}/{{this.slug}}/">
                <h4 class="col s5">{{this.title}}</h4>
                <p class="black-text">Bidding Deadline: {{this.bidingDeadline}}</p>
                <p class="black-text">Completion Deadline: {{this.completionDeadline}}</p>
                <p class="black-text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Posted by {{this.user.username}}</p>
              </a>
              
            </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>

<script>
  function myFunctionPosts() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInputPosts");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myULPosts");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";

          }
      }
  }
  myFunctionPosts();
</script>

















    {{!--    
        {{#each allPosts}}

        <ul class="collection">
{{!--           <a href="#!" class="collection-item hoverable">Post 1</li> --}}
          <li class="collection-item">
            
          </li>
        </ul>

{{!--               <a href="/posts/{{this.user.username}}/{{this.slug}}">
          <div class="post-preview">
              <a href="/posts/{{this.user.username}}/{{this.slug}}/">
                  <h5 class="post-title indigo-text">
                      {{this.title}}
                  </h5>
              </a>
              <p class="post-meta">Posted by <a href="/users/{{this.user.username}}/">{{this.user.username}}</a></p>
          </div> --}}
  {{!--      {{/each}}
        {{#if allPosts}}
        <ul class="pager">
          <li class="next">
            <a href="#">Older Posts &rarr;</a>
          </li>
        </ul>
        {{/if}}
      </div>
  </div>
</div>
--}}