<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h4>Browse Posts</h4>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{#if customer}}
        <div class="create-post">
          <a class="btn btn-default" href="/posts/new-post">Create Post</a>
        </div>
        {{/if}}
        {{#each allPosts}}
          <div class="post-preview">
              <a href="/posts/{{this.user.username}}/{{this.slug}}">
                  <h2 class="post-title">
                      {{this.title}}
                  </h2>
              </a>
              <p class="post-meta">Posted by <a href="/users/{{this.user.username}}">{{this.user.username}}</a></p>
          </div>
          <hr>
        {{/each}}
        <ul class="pager">
          <li class="next">
            <a href="#">Older Posts &rarr;</a>
          </li>
        </ul>
      </div>
  </div>
</div>
