<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h4>Browse Posts</h4>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="input-field">
          <input id="myInput" onkeyup="myFunction()" type="search" placeholder="            Browse">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>

        {{#if customer}}
        <div class="create-post">
          <a href="/posts/new-post" class="btn-floating waves-effect red btn"><i class="material-icons">add</i></a>
        </div>

{{!--         <div class="create-post">
          <a class="btn btn-default" href="/posts/new-post">Create Post</a>
        </div> --}}
        {{/if}}
        {{#each allPosts}}

        <ul class="collection">
{{!--           <a href="#!" class="collection-item hoverable">Post 1</li> --}}
          <li class="collection-item">
            <span class="title"><h5><a class="indigo-text" href="/posts/{{this.user.username}}/{{this.slug}}/">{{this.title}}</h5></span>
            <p class="black-text">Posted by <a href="/profile/{{this.user.username}}/">{{this.user.username}}</a></p>
          </li>
        </ul>

{{!--               <a href="/posts/{{this.user.username}}/{{this.slug}}">
          <div class="post-preview">
              <a href="/posts/{{this.user.username}}/{{this.slug}}/">
                  <h5 class="post-title indigo-text">
                      {{this.title}}
                  </h5>
              </a>
              <p class="post-meta">Posted by <a href="/users/{{this.user.username}}/">{{this.user.username}}</a></p>
          </div> --}}
        {{/each}}
        {{#if allPosts}}
        <ul class="pager">
          <li class="next">
            <a href="#">Older Posts &rarr;</a>
          </li>
        </ul>
        {{/if}}
      </div>
  </div>
</div>
